option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    FRED_API_KEY: "72ae0de078ad35b9370ca755d39c9ad7"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:ec2:instances:
    InstanceTypes: t3.micro, t3.small
  
packages:
  yum:
    python3-devel: []
    gcc: []

container_commands:
  01_mkdir_uploads:
    command: "mkdir -p /var/app/current/uploads && chmod 755 /var/app/current/uploads"
    ignoreErrors: true 