option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:app
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:elasticbeanstalk:application:environment:
    FRED_API_KEY: placeholder_key
    PYTHONPATH: "/var/app/current" 